<html>

<head>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">-->
	</head>
<body>
<!-- Left Menu Column -->
	<div>
		<a href="/dashboard/">Dashboard</a>
		<br>
		<a href="/reports/">Custom Report</a>
		<br>
		<a href="/incidents/">Incidents</a>
		<br>
		<a href="/incidents/new/">Submit an Incident Report</a>
		<br>
		<a href="/audits/">Audits</a>
		<br>
		<a href="/audits/new">Submit an Audit</a>
		<br>
		<a href="/actions/">Action Items</a>
		<br>
		<a href="/actions/new">Submit an Action Item</a>
	</div>
	<div>
		<h1>New Incident Report</h1>

		<form action="#" method = 'post'>

			<p>Date/Time:</p>
				<br>
				<input type ='datetime-local' name='date_time'>
				<br>
			<p>Finding:</p>
				<br>
				<input type ='text' size='2000' name='finding'>
				<br>
			<p>Corrective Action:</p>
				<br>
				<input type ='text' size='2000' name='corrective_action'>
				<br>
			<p>Due Date:</p>
				<br>
				<input type ='datetime-local' name='due_date'>
				<br>
			<input type='submit' value='Create'>
		</form>
	</div>
</body>
</html>
