<html>

<head>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">-->
	</head>
<body>
<!-- Left Menu Column -->
	<div>
		<a href="/dashboard/">Dashboard</a>
		<br>
		<a href="/reports/">Custom Report</a>
		<br>
		<a href="/incidents/">Incidents</a>
		<br>
		<a href="/incidents/new/">Submit an Incident Report</a>
		<br>
		<a href="/audits/">Audits</a>
		<br>
		<a href="/audits/new">Submit an Audit</a>
		<br>
		<a href="/actions/">Action Items</a>
		<br>
		<a href="/actions/new">Submit an Action Item</a>
	</div>
	<div>
		<h1>Edit Action Item #{{actions[0][0]}}:</h1>
		{% if actions[0][3] != None: %}
			<a href="/incidents/edit/{{actions[0][3]}}">Case: {{actions[0][3]}}</a>
		{% endif %}
		{% if actions[0][4] != None: %}
			<a href="/incidents/edit/{{actions[0][4]}}">Audit: {{actions[0][4]}}</a>
		{% endif %}
		<form action="#" method = 'post'>
			<b>Date: </b>{{actions[0][1]}}
			<b>Time: </b>{{actions[0][2]}}
			<br>
			<input type ='datetime-local' name='date_time'>
			<hr>
			<b>Finding: </b>{{actions[0][5]}}
			<br>
			<input type ='text' size='2000' name='finding'>
			<hr>
			<b>Corrective Action: </b>{{actions[0][6]}}
			<br>
			<input type ='text' size='2000' name='corrective_action'>
			<hr>
			<b>Due Date: </b>{{actions[0][7]}}
			<br>
			<input type ='datetime-local' name='due_date'>
			<hr>
			<input type='submit' value='Create'>
		</form>
		<hr>
		<form action="/actions/delete/{{actions[0][0]}}/">
			<input type = "submit" value="Delete">
		</form>
	</div>
</body>
</html>
