<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Simple Safety</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename ='bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename ='ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename ='style.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script type="text/javascript" src="{{ url_for('static', filename = 'ie-emulation-modes-warning.js') }}"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard/">Simple Safety Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard/">Dashboard</a></li>
            {% if user_profile != None: %}
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/gdisconnect/">Logout</a></li>
            {% else: %}
            <li><a href="/login/">Login</a></li>
            {% endif %}
            <li><a href="/resources/">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dashboard/">Dashboard<span class="sr-only">(current)</span></a></li>
            <li><a href="/incidents/">Incidents</a></li>
            <li><a href="/audits/">Audits</a></li>
             <li><a href="/actions/">Action Items</a></li>
          </ul>
          {% if user_profile != None: %}
          <ul class="nav nav-sidebar">
            <li><a href="/incidents/new/">Submit an Incident</a></li>
            <li><a href="/audits/new/">Submit an Audit</a></li>
            <li><a href="/actions/new/">Submit an Action Item</a></li>
          </ul>
          {% endif %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/incidents/"><img src="{{ url_for('static', filename ='incident.png') }}" width="200" height="200" class="img-responsive" alt="Incident Manager"></a>
              <h4>Incidents</h4>
              <span class="text-muted">Incident Manager</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/audits/"><img src="{{ url_for('static', filename ='audit.png') }}" width="200" height="200" class="img-responsive" alt="Audit Manager"></a>
              <h4>Audits</h4>
              <span class="text-muted">Audit Manager</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/actions/"><img src="{{ url_for('static', filename ='action.png') }}" width="200" height="200" class="img-responsive" alt="Action Item Manager"></a>
              <h4>Action Items</h4>
              <span class="text-muted">Actions Manager</span>
            </div>
            {% if user_profile != None: %}
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/profile/"><img src="{{user_profile[1]}}" width="200" height="200" class="img-responsive" alt="User Profile Manager"></a>
              <h4>{{user_profile[0]}}</h4>
              <span class="text-muted">Profile Manager</span>
            </div>
            {% elif user_profile[1] == None: %}
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/login/"><img src="{{ url_for('static', filename ='user.png') }}" width="200" height="200" class="img-responsive" alt="User Profile Manager"></a>
              <h4>{{user_profile[0]}}</h4>
              <span class="text-muted">Profile Manager</span>
            </div>
            {% else: %}
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/login/"><img src="{{ url_for('static', filename ='user.png') }}" width="200" height="200" class="img-responsive" alt="User Profile Manager"></a>
              <h4>Login Here</h4>
              <span class="text-muted">Profile Manager</span>
            </div>
            {% endif %}
          </div>

          <h2 class="sub-header">Weather - Cincinnati, OH</h2>
            <div class="table-responsive">
              <h2>{{weather[2]}}&#176; <img src="http://openweathermap.org/img/w/{{weather[3]}}.png"> {{weather[0]}}</h2>
            </div>

          <h2 class="sub-header">Injury Rates</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>First Aid Injury Rate</th>
                  <th>Recordable Injury Rate</th>
                  <th>Lost Time Injury Rate</th>
                  <th>Other Recordable Injury Rate</th>
                  <th>Total Incident Rate</th>
                  <th>Total Man Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{injury_rate[0]}}</th>
                  <th>{{injury_rate[1]}}</th>
                  <th>{{injury_rate[2]}}</th>
                  <th>{{injury_rate[3]}}</th>
                  <th>{{injury_rate[4]}}</th>
                  <th>{{manhours}}</th>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Most Recent Injury Cases</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Case</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Category</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
              {% for i in range(3) %}
                <tr>
                  <th><a href="/incidents/edit/{{incidents[i][2]}}/">{{incidents[i][2]}}</a></th>
                  <th>{{incidents[i][0]}}</th>
                  <th>{{incidents[i][1]}}</th>
                  <th>{{incidents[i][3]}}</th>
                  <th>{{incidents[i][4]}}</th>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Audit Health</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Overall Audit Health</th>
                  <th>Behavior Audit Health</th>
                  <th>Area Organization Audit Health</th>
                  <th>HAZWASTE Audit Health</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{health[0]}}%</th>
                  <th>{{health[1]}}%</th>
                  <th>{{health[2]}}%</th>
                  <th>{{health[3]}}%</th>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Upcoming Action Items</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Incident ID</th>
                  <th>Audit ID</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Finding</th>
                  <th>Corrective Actions</th>
                  <th>Due Date</th>
                  <th>Open/Close</th>
                </tr>
              </thead>
              <tbody>
                {% for j in range(5) %}
                <tr>
                  <th><a href="/actions/edit/{{actions[j][0]}}">{{actions[j][0]}}</a></th>
                  {% if actions[j][3] != None: %}
                    <th><a href="/incidents/edit/{{actions[j][3]}}">{{actions[j][3]}}</a></th>
                  {% else: %}
                    <th>None</th>
                  {% endif %}
                  {% if actions[j][4] != None: %}
                    <th><a href="/audits/edit/{{actions[j][4]}}">{{actions[j][4]}}</a></th>
                  {% else: %}
                    <th>None</th>
                  {% endif %}
                  <th>{{actions[j][1]}}</th>
                  <th>{{actions[j][2]}}</th>
                  <th>{{actions[j][5]}}</th>
                  <th>{{actions[j][6]}}</th>
                  <th>{{actions[j][7]}}</th>
                  {% if actions[j][8] == True: %}
                    <th><a href="/actions/close/{{actions[j][0]}}">Open</a></th>
                  {% else: %}
                    <th>Closed</th>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script type='text/javascript' src='{{ url_for('static', filename='jquery.min.js') }}''><\/script>")</script>
    <script type="text/javascript" src="{{ url_for('static', filename ='bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
