<html>
<head>
</head>

<body>
	<!-- Left Menu Column -->
	<div>
		<a href="#">Custom Report</a>
		<br>
		<a href="/incidents/new">Submit a Report</a>
		<br>
		<a href="#">Edit a Report</a>
		<br>
		<a href="#">Delete a Report</a>
		<br>
		<a href="#">Submit an Audit</a>
		<br>
		<a href="#">Edit an Audit</a>
		<br>
		<a href="#">Delete an Audit</a>
	</div>
	<!-- Main Content -->
	<div>
		<h1>Incident Reports</h1>
		<div>
			<table style="width:100%">
				<tr>
					<th><b>Date</b></th>
					<th><b>Time</b></th>
					<th><b>Case ID</b></th>
					<th><b>Type</b></th>
					<th><b>Category</b></th>
					<th><b>Injury Case</b></th>
					<th><b>Property Damage</b></th>
					<th><b>Description</b></th>
					<th><b>Root Cause</b></th>
				</tr>
				{% for i in range(length) %}
					<tr> 
						<th>{{incidents[i][0]}}</th>
						<th>{{incidents[i][1]}}</th>
						<th>{{incidents[i][2]}}</th>
						<th>{{incidents[i][3]}}</th>
						<th>{{incidents[i][4]}}</th>
						<th>{{incidents[i][5]}}</th>
						<th>{{incidents[i][6]}}</th>
						<th>{{incidents[i][7]}}</th>
						<th>{{incidents[i][8]}}</th>
					</tr>
				{% endfor %}
			 </table>
		</div>
	</div>
</body>

</html>