<html>
<head>
</head>

<body>
	<!-- Left Menu Column -->
	<div>
		<a href="/dashboard/">Dashboard</a>
		<br>
		<a href="/reports/">Custom Report</a>
		<br>
		<a href="/incidents/">Incidents</a>
		<br>
		<a href="/incidents/new/">Submit an Incident Report</a>
		<br>
		<a href="/audits/">Audits</a>
		<br>
		<a href="/audits/new">Submit an Audit</a>
		<br>
		<a href="/actions/">Action Items</a>
		<br>
		<a href="/actions/new">Submit an Action Item</a>
	</div>
	<!-- Main Content -->
	<div>
		<h1>Incident Reports</h1>
		<div>
			<table style="width:100%">
				<tr>
					<th><b>Case ID</b></th>
					<th><b>Date</b></th>
					<th><b>Time</b></th>
					<th><b>Type</b></th>
					<th><b>Category</b></th>
					<th><b>Injury Case</b></th>
					<th><b>Property Damage</b></th>
					<th><b>Description</b></th>
					<th><b>Root Cause</b></th>
				</tr>
				{% for i in range(length) %}
					<tr> 
						<th><a href="/incidents/edit/{{incidents[i][0]}}">{{incidents[i][0]}}</a></th>
						<th>{{incidents[i][1]}}</th>
						<th>{{incidents[i][2]}}</th>
						<th>{{incidents[i][3]}}</th>
						<th>{{incidents[i][4]}}</th>
						<th>{{incidents[i][5]}}</th>
						<th>{{incidents[i][6]}}</th>
						<th>{{incidents[i][7]}}</th>
						<th>{{incidents[i][8]}}</th>
					</tr>
				{% endfor %}
			 </table>
		</div>
	</div>
</body>

</html>