<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Simple Safety</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename ='bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename ='ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename ='style.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script type="text/javascript" src="{{ url_for('static', filename = 'ie-emulation-modes-warning.js') }}"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard/">Simple Safety Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard/">Dashboard</a></li>
            {% if user_profile != None: %}
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/gdisconnect/">Logout</a></li>
            {% else: %}
            <li><a href="/login/">Login</a></li>
            {% endif %}
            <li><a href="/resources/">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard/">Dashboard</a></li>
            <li class="active"><a href="/incidents/">Incidents<span class="sr-only">(current)</span></a></li>
            <li><a href="/audits/">Audits</a></li>
             <li><a href="/actions/">Action Items</a></li>
          </ul>
          {% if user_profile != None: %}
          <ul class="nav nav-sidebar">
            <li><a href="/incidents/new/">Submit an Incident</a></li>
            <li><a href="/audits/new/">Submit an Audit</a></li>
            <li><a href="/actions/new/">Submit an Action Item</a></li>
          </ul>
          {% endif %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Incident Manager</h1>

          <h2 class="sub-header">Incident Case #{{incidents[0]}}</h2>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Case ID</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Type</th>
                  <th>Category</th>
                  <th>Injury Case</th>
                  <th>Property Damage</th>
                  <th>Description</th>
                  <th>Root Cause</th>
                  <th>Corrective Actions</th>
                  <th>Due Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{incidents[0]}}</th>
                  <th>{{incidents[1]}}</th>
                  <th>{{incidents[2]}}</th>
                  <th>{{incidents[3]}}</th>
                  <th>{{incidents[4]}}</th>
                  <th>{{incidents[5]}}</th>
                  <th>{{incidents[6]}}</th>
                  <th>{{incidents[7]}}</th>
                  <th>{{incidents[8]}}</th>
                  <th>{{actions[0]}}</th>
                  <th>{{actions[1]}}</th>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header">Edit Case Details</h2>
          
          <form action="#" method = 'post'>

              <b>Date: </b>{{incidents[1]}}
              <br>
              <b>Time: </b>{{incidents[2]}}
              <br>
              <br>
              <b>New Date/Time: </b>
              <br>
              <input type ='datetime-local' name='date_time'>
              <hr>
              <b>Type: </b>{{incidents[3]}}
              <hr>
              <b>New Type:</b>
              <br>
              <br>
              <input type ='radio'  name='incident_type' value ='FA'>First Aid
              <br>
              <input type ='radio'  name='incident_type' value ='RI'>Recordable Injury
              <br>
              <input type ='radio'  name='incident_type' value ='RD'>Restricted Duty
              <br>
              <input type ='radio'  name='incident_type' value ='LTI'>Lost Time Injury
              <br>
              <input type ='radio'  name='incident_type' value ='PIT Incident'>PIT Incident
              <br>
              <input type ='radio'  name='incident_type' value ='Near Miss'>Near Miss
              <br>
              <input type ='radio'  name='incident_type' value ='HAZMAT'>HAZMAT
              <hr>
              <b>Incident Category: </b>{{incidents[4]}}
              <br>
              <br>
              <input type ='radio'  name='incident_cat' value ='Unsafe Act'>Unsafe Act
              <br>
              <input type ='radio'  name='incident_cat' value ='Unsafe Behavior'>Unsafe Behavior
              <br>
              <input type ='radio'  name='incident_cat' value ='Unsafe Condition'>Unsafe Condition
              <hr>
              <b>Injury: </b>{{incidents[5]}}
              <br>
              <br>
              <input type ='radio'  name='injury' value ='t'>True
              <br>
              <input type ='radio'  name='injury' value ='f'>False
              <hr>
              <b>Property Damage: </b>{{incidents[6]}}
              <br>
              <br>
              <input type ='radio'  name='property_damage' value ='t'>True
              <br>
              <input type ='radio'  name='property_damage' value ='f'>False
              <hr>
              <b>Description: </b>{{incidents[7]}}
              <br>
              <br>
              <input type ='text' class="form-control" name='description'>
              <hr>
              <b>Root Cause: </b>{{incidents[8]}}
              <br>
              <br>
              <input type ='text' class="form-control" name='root_cause'>
              <hr>
              <b>Corrective Actions: </b>{{actions[0]}}
              <br>
              <br>
              <input type ='text' class="form-control" name='corrective_action'>
              <hr>
              <b>Due Date: </b>{{actions[1]}}
              <br>
              <br>
              <input type ='datetime-local' name='due_date'>
              <br>
              <br>
            <input type='submit' value='Update'>
            <br>
          </form>
          <hr>
          <form action="/incidents/delete/{{incidents[0]}}">
              <input type = "submit" value="Delete">
        </form>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script type='text/javascript' src='{{ url_for('static', filename='jquery.min.js') }}''><\/script>")</script>
    <script type="text/javascript" src="{{ url_for('static', filename ='bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
